@model TaskProject_Purus.Entity.Quote


<div class="col-md-12 portfolio-item">
    <div class="form-group">
        <strong> <p>@Model.QuoteTtile</p> </strong>
    </div>
    <div class="form-group">
        <p>@Model.QuoteDescription</p>
    </div>
</div>

