@{
    ViewBag.Title = "Index";
}
<div class=" container">
    <div class="row ">
        <div class="col-md-6">
            <div>
                <h2>Get a Quote</h2>
                <a href="/CustomerRegister" class="btn btn-primary" title="Enlace">Get a Quote »</a>
            </div>

        </div>
        <div class="col-md-6">
            <div>
                <h2>Retrive Quotes</h2>
                <a href="/CustomerLogin" class="btn btn-primary" title="Enlace">Retrive Quotes »</a>
            </div>
        </div>
    </div>
</div>